@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; }

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif !important; }

body {
  margin: 0;
  background-color: #999; }

a {
  text-decoration: none;
  font-weight: 600;
  color: #004d99; }

a:hover {
  text-decoration: underline; }

.m-b-15 {
  margin-bottom: 15px; }

/* customize tooltips */
.react-hint--top:after {
  border-bottom-color: #999;
  border-top-color: #999; }

.react-hint--top .react-hint__content {
  position: relative;
  background: #999 !important;
  border: 1px solid #000000;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 13px; }

.react-hint--top .react-hint__content:after, .react-hint--top .react-hint__content:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.react-hint--top .react-hint__content:after {
  border-color: rgba(153, 153, 153, 0);
  border-top-color: #999;
  border-width: 7px;
  margin-left: -7px; }

.react-hint--top .react-hint__content:before {
  border-color: transparent;
  border-top-color: #000000;
  border-width: 8px;
  margin-left: -8px; }

.react-hint--bottom:after {
  border-bottom-color: #999;
  border-top-color: #999; }

.react-hint--bottom .react-hint__content {
  position: relative;
  background: #999 !important;
  border: 1px solid #000000;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 13px; }

.react-hint--bottom .react-hint__content:after, .react-hint--bottom .react-hint__content:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.react-hint--bottom .react-hint__content:after {
  border-color: rgba(153, 153, 153, 0);
  border-bottom-color: #999;
  border-width: 7px;
  margin-left: -7px; }

.react-hint--bottom .react-hint__content:before {
  border-color: transparent;
  border-bottom-color: #000000;
  border-width: 8px;
  margin-left: -8px; }
