html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; }

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
  font-family: "Roboto, sans-serif"; }

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.15); }

a {
  text-decoration: none;
  font-weight: 600;
  color: #004d99; }

a:hover {
  text-decoration: underline; }

.m-b-15 {
  margin-bottom: 15px; }

/* customize tooltips */
.react-hint {
  font-family: 'Roboto', sans-serif !important; }
  .react-hint:after {
    border-bottom-color: #787878;
    border-top-color: #787878; }
  .react-hint .react-hint__content {
    background: #787878;
    border-radius: 3px;
    padding: 2px 8px;
    font-weight: 600;
    font-size: 13px; }
