@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: 'Roboto', sans-serif;
  // font-family: 'Monaco, MonoSpace, sans-serif' !important;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif !important;
  // font-family: 'Roboto, sans-serif',
  // font-family: 'Monaco, MonoSpace, sans-serif' !important;
}

body {
  margin: 0;
  background-color: #999;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #004d99;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px;
}

/* customize tooltips */
.react-hint {
  // font-family: 'Roboto', sans-serif !important;
  font-family: 'Open Sans', sans-serif !important;
  &:after {
    border-bottom-color: rgb(120,120,120);
    border-top-color: rgb(120,120,120);
  }

  .react-hint__content {
    background: rgb(120,120,120);
    border-radius: 3px;
    padding: 2px 8px;
    font-weight: 600;
    font-size: 13px;
    // font-family: 'Monaco, MonoSpace, sans-serif' !important;
  }
}
