table.filter-table {
  width: inherit !important;
  tr {
    td, th {
      padding-left: 2px !important;
      padding-right: 2px !important;

      input:not(:checked) + div {
        svg {
          fill: rgba(0,0,0,0.5) !important;
        }
      }
    }
  }
}