table.filter-table {
  width: inherit !important;
  tr {
    td, th {
      // padding-left: 2px !important;
      // padding-right: 2px !important;

      input:not(:checked) + div {
        svg {
          fill: rgba(0,0,0,0.5) !important;
        }
      }
    }
    th {
      button {
        min-width: 0 !important;
        color: inherit !important;
        border-radius: 0 !important;
        white-space: normal !important;
        line-height: 10px !important;
        svg {
          margin-right: 0 !important;
        }
      }
    }
    th, td {
      &:first-child {
        padding-left: 15px !important;
      }
    }
  }

}

.filter-table-root > div {

  &>div:nth-child(2) {

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 10px 10px rgba(0,0,0,.1);
      // border: solid 1px transparent
    }
  
    &::-webkit-scrollbar {
      width: 15px;
      z-index: 1500;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 7px;
      border: 1px solid rgba(0, 0, 0, 0);
      -webkit-box-shadow: inset -1 -1 0px rgba(0,0,0,.05);
      background-color: rgba(0,0,0,0.1);
      background-clip: padding-box;

      box-shadow: inset 0 0 10px 10px rgba(0,0,0,.05);
      border: solid 3px transparent;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }
  }
}


// overflow-y: auto;
// overflow-x: hidden;
// height: calc(100vh - 565px);
// &::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//   border-radius: 10px;
//   background-color: transparent;
// }

// &::-webkit-scrollbar {
//     width: 12px;
//     background-color: transparent;
//     z-index: 1500;
// }

// &::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//     box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//     background-color: #444;
// }