
.error-bar {
  div {
    height: auto !important;
    background-color: rgb(99,0,0) !important;

    button {
      span {
        font-weight: 600 !important;
        color: rgb(68, 138, 255) !important;
      }
    }

  }
}