
.error-bar {
  div {
    height: auto !important;
    background-color: rgb(180,25,25) !important;

    button {
      span {
        font-weight: 600 !important;
        color: rgb(68, 138, 255) !important;
      }
    }

  }
}

.separator-bar {
    background-color: rgb(158, 158, 158) !important; 
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.menu-button {
  margin-left: 0px !important;
  margin-right: 0px !important;
  min-width: 38px !important;
  span {
    display: none !important;
  }
  svg {
    margin-left: 2px !important;
    margin-right: 2px !important;
    fill: #9e9e9e !important;
  }
}

.sb-avatar {
  div {
    font-family: 'Open Sans', sans-serif !important;
  }
}

button.profile {
  height: 42px !important;
  margin-bottom: -4px !important;
}

.profile-menu {
  display: block !important;
}

@media screen and (min-width: 1170px) {
  .menu-button {
    min-width: auto !important;
    span {
      display: inline-block !important;
    }
    svg {
      margin-left: 6px !important;
    }
  }
  /* hide tooltips when the buttons are already labeled */
  .menu-button-rh {
    display: none !important;
  }
}


