.logs.xterm-react .terminal .xterm-viewport::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent; }

.logs.xterm-react .terminal .xterm-viewport::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
  z-index: 1500; }

.logs.xterm-react .terminal .xterm-viewport::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.filter-check.disabled svg, .filter-check.disabled label {
  fill: #4f4f4f !important;
  color: #4f4f4f !important; }
