.resource-info > div > div::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.resource-tabs[value="config"] .configuration-pane:after,
.resource-tabs[value="events"] .configuration-pane:after,
.resource-tabs[value="pod template"] .configuration-pane:after {
  content: "";
  position: fixed;
  z-index: 1;
  bottom: 40px;
  margin-right: 45px;
  margin-left: 30px;
  left: 0;
  right: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 60%);
  height: 30px; }
