path.domain {
  stroke: none;
  fill: none;
}

g.group {
  // fill-opacity: 0.5;
  // stroke-opacity: 0.7;
  fill-opacity: 1;
  stroke-opacity: 1;
  pointer-events: all;
  
  &.deselected {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
  }

  &:hover {
    rect:not(.hover) {
      stroke: rgba(180,180,180,0.6) !important;
    }
  }

  &:hover {
    fill-opacity: 1;
    stroke-opacity: 1;
    cursor: pointer;
  }
}

g.x.axis {
  fill: rgb(180,180,180);
  pointer-events: none;
}