path.domain {
  stroke: none;
  fill: none;
}

.discrete-barchart {
  // max-width: 350px;
  margin-left: 22px;
  margin-right: 22px;
  overflow-x: auto;
}

g.group {
  fill-opacity: 0.8;
  stroke-opacity: 0.8;
  pointer-events: none;
  
  &.deselected {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
  }

  rect.hover {
    pointer-events: all;
  }

  &:hover {
    rect:not(.hover) {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

g.x.axis {
  fill: rgb(180,180,180);
  pointer-events: none;
  g.tick {
    pointer-events: none;
  }
}