.utilization {

  svg {
    cursor: pointer;
  }

  .percentage {
    position: absolute;
    font-size: 28px;
    top: 37%;
    left: 50%;
    margin-left: 6px;
    color: rgb(130, 177, 255);
    font-weight: 600;
    transform: translateX(-50%) translateY(-50%);
    &:after {
      content: "%";
      font-size: 14px;
    }
  }
  .label {
    position: absolute;
    font-size: 10px;
    top: 62%;
    left: 50%;
    width: 40px;
    line-height: 12px;
    color: rgba(255,255,255,0.8);
    transform: translateX(-50%) translateY(-50%);
  }
}