dl.mounts {
  padding: 0.5em;

  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
  }
  dt::after {
    content: ":";
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }
}

span.mount-name {
  font-weight: 600;
  padding-right: 2px;
  width: 200px;
}
span.mount-perms {
  font-weight: 600;
  padding-right: 2px;
  padding-left: 2px;
  &.ro {
    color: rgb(41, 121, 255);
  }
}
span.mount-from {
  font-weight: 600;
}
span.env-ref-type {
  font-weight: 600;
  padding-right: 3px;
}
span.env-ref-key {
  padding-left: 3px;
}

pre.quoted-string {
  margin: 0px;
}

.quoted-string {
  color: rgb(30, 136, 229);
  &:before {
    content: "\"";
  }
  &:after {
    content: "\"";
  }
  + .quoted-string:before {
    content: ", \"";
  }
}

.item-array {
  font-weight: 600;
  color: rgb(30, 136, 229);
  &:before {
    content: "[";
    color: rgb(0,0,0);
  }
  &:after {
    content: "]";
    color: rgb(0,0,0);
  }
}

.resolve-env-refs-check.disabled {
  svg, label {
      fill: rgba(0, 0, 0, 0.2) !important;
      color: rgba(0, 0, 0, 0.2) !important;
  }
}