dl.mounts {
  padding: 0.5em;

  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
  }
  dt::after {
    content: ":";
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }
}

span.mount-name {
  font-weight: 600;
  padding-right: 2px;
  width: 200px;
}
span.mount-perms {
  font-weight: 600;
  padding-right: 2px;
  padding-left: 2px;
  &.ro {
    color: rgb(41, 121, 255);
  }
}
span.mount-from {
  font-weight: 600;
  color: #004d99;
}
