td.resource-actions {
  &:hover {
    cursor: pointer;
  }
}

table.filter-table.cluster-resource {
  tr {
		border-bottom: 1px solid rgba(224, 224, 224,0.25) !important;

    th {
      input:not(:checked) + div {
        svg {
          fill: rgba(33,33,33,0.8) !important;
        }
      }
    }
  }
}
span.centered-percentage {
  margin-right: 30%;
}